.blogCard {
  margin-bottom: 15px;
  width: 100%;
}
.thumbnail {
  height: 240px;
  width: 100%;
}
.blogCard h4 {
  font-size: 1.5rem;
  margin: 10px 0;
  font-weight: 500;
}
.blogCard button {
  background-color: transparent;
  border-bottom: solid 1.5px black;
  padding: 0.4rem 0;
  font-size: 1rem;
  font-weight: 500;
}

/* first break point */
@media only screen and (max-width: 1190px) {
  .thumbnail {
    height: 200px;
  }
}

/* Second break point */
@media only screen and (max-width: 450px) {
  .thumbnail {
    height: 180px;
  }
  .blogCard h4 {
    font-size: 1.2rem;
  }
  .blogCard p {
    font-size: 0.9rem;
  }
  .blogCard button {
    font-size: 0.9rem;
  }
}

/* Third break point */
@media only screen and (max-width: 375px) {
    .thumbnail{
        height: 140px;
    }
}
